RewriteEngine On

RewriteRule ^system/product$ product.crud.php [NC,L]



# rewrite urls for products crud operations
RewriteRule ^system/products$ product.crud.php [NC,L]
RewriteRule ^system/products/create$ product.edit.php [NC,L]
RewriteRule ^system/products/update$ product.edit.php [NC,L]
RewriteRule ^system/products/process$ processing/product.crud.pro.php [NC,L]

# rewrite urls for categories crud operations
RewriteRule ^system/categories$ category.crud.php [NC,L]
RewriteRule ^system/categories/create$ category.edit.php [NC,L]
RewriteRule ^system/categories/update$ category.edit.php [NC,L]
RewriteRule ^system/categories/process$ processing/category.crud.pro.php [NC,L]

# rewrite urls for categories crud operations
RewriteRule ^system/users$ user.crud.php [NC,L]
RewriteRule ^system/users/create$ user.edit.php [NC,L]
RewriteRule ^system/users/update$ user.edit.php [NC,L]
RewriteRule ^system/users/process$ processing/user.crud.pro.php [NC,L]

# rewire urls for main stites
RewriteRule ^home$ index.php [NC,L]
RewriteRule ^cart$ cart.php [NC,L]
RewriteRule ^sign-in$ signin.php [NC,L]
RewriteRule ^sign-up$ signup.php [NC,L]
RewriteRule ^system$ setting.php [NC,L]
RewriteRule ^product$ product.php [NC,L]
RewriteRule ^category$ category.php [NC,L]

Redirect /a5/system/category /a5/category
Redirect /a5/system/sign-in /a5/sign-in
Redirect /a5/system/home /a5/home
Redirect /a5/system/cart /a5/cart

php_flag display_errors 1

